<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jaykibi">Raquibbi</a>. A web developer who is on a mission to explore the software engineering field and all that entails. This is his first deployed product and probably his MVP at the moment. Hopefully there will be many more products created by him. 
  </p>
  <br />
  <p>
    Raquibbi learned how to code slowly, first by taking a web development course in college which taught him the fundementals of creating static webpages using your basic HTML & CSS and then by enrolling into the UT Coding Bootcamp post graduating from college. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <br />
  <br />

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'raquibbi.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Raquibbi Muhammaddi</h2>
      <br />
      <p>
        Raquibbi is currently working for a local city government. He graduated from Texas A&M University in College Station. He has previous experience building websites that deal with GIS, a framework for aggregating, managing, and analyzing geographic/spatial data.  
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>